.costs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.costs__title {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 500;
}

.costs__form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.costs__form_label {
  padding: 10px 0;
}

.costs__form_input {
  width: 100%;
  max-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(41, 41, 41, 0.3);
  border-radius: 6px;
}

.costs__form_message {
  text-align: center;
  padding: 10px;
  margin: 0;
  color: rgb(11, 168, 5);
}

.form-costs__buttons {
  margin-top: 20px;
  align-self: flex-end;
}

.form-costs__buttons_button:not(:last-child) {
  margin-right: 25px;
}
